#parrafos[b-3bzma3va59] {
    display: flex;
}

#pf-1[b-3bzma3va59] {
    margin: 20px;
    margin-top: 10px;
    display:inline-flex;
    text-align: justify;
}

#pf-2[b-3bzma3va59] {
    margin: 20px;
    margin-top: 10px;
    display: inline-flex;
    text-align: justify;
}

#pf-3[b-3bzma3va59] {
    margin: 20px;
    margin-top: 10px;
    display: inline-flex;
    text-align: justify;
}
body[b-3bzma3va59] {
}
