@page "/normativity"
<h3>Normatividad</h3>
<div class="row">
    <div class="col-md-2">
        <a href="pdf/CodigoEtica2021.pdf" id="boton" target="_blank" class="btn">Codigo de conducta</a>
    </div>
    <div class="col-md-2">
        <a href="pdf/Ley_que_crea_la_Universidad_Tecnologica_de_Puebla_01122016.pdf" id="boton" target="_blank" class="btn">Ley que crea la UTP</a>
    </div>
    <div class="col-md-2">
        <a href="/pdf/CCT_ 2021.pdf" id="boton" target="_blank" class="btn">Contrato colectivo</a>
    </div>
    <div class="col-md-2">
        <a href="pdf/REGLAMENTO_ACADEMICO.pdf" id="boton" target="_blank" class="btn">Reglamento académico</a>
    </div>
    <div class="col-md-4">
        <a href="pdf/RIPPPA.pdf" id="boton" target="_blank" class="btn">Reglamento de Ingreso,Promocion y Permanencia del Personal Academico</a>
    </div>
</div>
<div class="row">
    <h3>Reglamentos</h3>
    <select>
        <option selected="true" disabled="false">Reglamentos</option>

        <option value="pdf/CCT_ 2021.pdf" target="_blank">Reglamento 1</option>
        <option value="pdf/CodigoEtica2021.pdf" target="_blank">Reglamento 2</option>
    </select>
</div>
@code {

}
