#parrafos {
    display: flex;
}

#pf-1 {
    margin: 20px;
    margin-top: 10px;
    display:inline-flex;
    text-align: justify;
}

#pf-2 {
    margin: 20px;
    margin-top: 10px;
    display: inline-flex;
    text-align: justify;
}

#pf-3 {
    margin: 20px;
    margin-top: 10px;
    display: inline-flex;
    text-align: justify;
}
body {
}
